<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.aaratechnologies.lawtrend">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/lg1"
        android:label="@string/app_name"
        android:roundIcon="@drawable/lg1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".menuwiseactivities.SearchNewsActivity" android:theme="@style/AppTheme2"></activity>
        <activity
            android:name=".menuwiseactivities.SearchActivityForBareAct"
            android:theme="@style/AppTheme2" />
        <activity android:name=".activities.NotificationShowActivity" /> <!-- [START fcm_default_icon] -->
        <!--
 Set custom default icon. This is used when no icon is set for incoming notification messages.
             See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/lg1" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" /> <!-- [END fcm_default_icon] -->
        <!-- [START fcm_default_channel] -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" /> <!-- [END fcm_default_channel] -->
        <activity android:name=".activities.SeachedDataShowActivity" />
        <activity android:name=".activities.CompleteNewsBookmarked" />
        <activity android:name=".menuwiseactivities.StateWisePdf" />
        <activity android:name=".menuwiseactivities.BookmarkActivity" />
        <activity android:name=".menuwiseactivities.OnlineInternshipActivity" />
        <activity android:name=".menuwiseactivities.BareAndActsActivity" />
        <activity android:name=".menuwiseactivities.MasterActivity" />
        <activity android:name=".menuwiseactivities.ContactUsActivity" />
        <activity android:name=".menuwiseactivities.AboutUsActivity" />
        <activity android:name=".activities.PdfViewActivitySecond" />
        <activity android:name=".activities.TotalNewsActivity" />
        <activity android:name=".activities.PdfViewActivity" />
        <activity android:name=".PageNotFound" />
        <activity android:name=".HostScreen" />
        <activity android:name=".NextActivity" />
        <activity android:name=".activities.MainActivity" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- [START firebase_service] -->
        <service
            android:name=".firebaseservices.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service> <!-- [END firebase_service] -->
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>